**/.DS_Store
2nd-year/Internships/Research/Experiences/template.md
**/.vscode/3rd-year/Courses/COL362 Kaustubh Beedkar/Activity/db_updated.sql
3rd-year/Courses/COL362 Kaustubh Beedkar/Activity/db_updated.sql
